{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Travel Shopping</title>
    <link rel="stylesheet" href="{% static 'shopping.css' %}">
</head>
<body>

    <img id="logo" src="{% static 'Images/logo.png' %}">
    <div id="titlebox">
            <a href="{% url 'home' %}">&#9776; Home</a>
            <h1>Pre-Travelling Shopping</h1>
    </div>



    <div class="container">
        <!-- Backpack Section -->
        <div class="item">
            <h2>Backpack</h2>
            <div class="scroll-container">
                <div class="scroll-content">
                    <div class="image-fr">
                        <a href="https://www.flipkart.com/american-tourister-bowie-35-l-laptop-backpack/p/itm8aa2f80539d74?pid=LTBGUSRNEC8RZVFY&lid=LSTLTBGUSRNEC8RZVFYVOXKMI&marketplace=FLIPKART&q=american+tourister+backpacks&store=reh%2F4d7&srno=s_1_10&otracker=AS_Query_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_1_3_na_na_na&fm=search-autosuggest&iid=64d8c309-1412-4985-9ae1-239bbdd448b5.LTBGUSRNEC8RZVFY.SEARCH&ppt=sp&ppn=sp&ssid=slcjd8lcyo0000001727773992113&qH=1abe32de05963821" target="_blank">
                        <img src="{% static 'backpack1.jpg' %}" alt="Backpack 1">
                        </a>
                    </div>
                    <div class="image-fr">
                        <a href="https://www.flipkart.com/american-tourister-vermont-spinner-expandable-check-in-suitcase-4-wheels-27-inch/p/itma579e67921dad?pid=STCFP54BBUE9ZHGJ&lid=LSTSTCFP54BBUE9ZHGJAYEF2J&marketplace=FLIPKART&q=american+tourister+travel+back+bag&store=reh%2Fplk&srno=s_1_39&otracker=AS_QueryStore_OrganicAutoSuggest_2_25_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_25_na_na_ps&fm=search-autosuggest&iid=c1461b76-adfb-4c55-b34d-fcfa3c655ae4.STCFP54BBUE9ZHGJ.SEARCH&ppt=sp&ppn=sp&ssid=btajz6xyrk0000001727774141539&qH=fcc8a8b419030fca" target="_blank">
                        <img src="{% static 'backpack2.jpg' %}" alt="Backpack 2">
                        </a>
                    </div>
                    <div class="image-fr">
                        <a href="https://www.flipkart.com/safari-eclipse-55-cabin-suitcase-4-wheels-22-inch/p/itma3ef0b39ca951?pid=STCGTSAKPTUJQJSD&lid=LSTSTCGTSAKPTUJQJSDOQB3HH&marketplace=FLIPKART&q=safari+trolley+bag&store=reh%2Fplk%2Ftvv&srno=s_1_6&otracker=AS_Query_OrganicAutoSuggest_3_6_na_na_ps&otracker1=AS_Query_OrganicAutoSuggest_3_6_na_na_ps&fm=search-autosuggest&iid=a50ea556-201d-4ac0-8c5c-f3cd8e072207.STCGTSAKPTUJQJSD.SEARCH&ppt=sp&ppn=sp&ssid=y1n6e0z4hc0000001727774644220&qH=10429a103252e990" target="_blank">
                        <img src="{% static 'backpack3.jpg' %}" alt="Backpack 3">
                        </a>
                    </div>
                    <div class="image-fr">
                        <a href="https://www.flipkart.com/skybags-hawk-01-rucksack-45l-black-45-l-backpack/p/itm8e8ed7c17eb4f?pid=BKPGQSZ2HFYMP3AN&lid=LSTBKPGQSZ2HFYMP3AN5GJTK7&marketplace=FLIPKART&q=skybags+travel+bags&store=reh%2F4d7&srno=s_1_8&otracker=AS_QueryStore_OrganicAutoSuggest_2_13_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_13_na_na_ps&fm=search-autosuggest&iid=85a70508-098b-4042-a69c-4d6096d2a22f.BKPGQSZ2HFYMP3AN.SEARCH&ppt=sp&ppn=sp&ssid=8xf35yi54g0000001727774427051&qH=bfcdd4baa10c2add" target="_blank">
                        <img src="{% static 'backpack4.jpg' %}" alt="Backpack 4">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sunglasses Section -->
        <div class="item">
            <h2>Sunglasses</h2>
            <div class="scroll-container">
                <div class="scroll-content">
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/john-jacobs-round-sunglasses/p/itm7071670d77535?pid=SGLGCT3PUBS8V6PF&lid=LSTSGLGCT3PUBS8V6PFTDJXWH&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=FkPickId_26x&srno=s_1_10&otracker=search&otracker1=search&fm=Search&iid=6f15ee3b-8ac3-4710-b877-ea1d1a815a6c.SGLGCT3PUBS8V6PF.SEARCH&ppt=sp&ppn=sp&qH=0ff7a11a5902c9f7" target="_blank">
                        <img src="{% static 'sunglasses1.jpg' %}" alt="Sunglasses 1">
                        </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/lenskart-hustlr-wayfarer-sunglasses/p/itm666f1a456fe0b?pid=SGLGZDFFP2AJ4WV7&lid=LSTSGLGZDFFP2AJ4WV7FUOV4L&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_23&otracker=search&otracker1=search&fm=Search&iid=b1546280-6a59-4b5f-bf84-0bb3e2928e38.SGLGZDFFP2AJ4WV7.SEARCH&ppt=sp&ppn=sp&ssid=n964kv4u000000001727757663674&qH=0ff7a11a5902c9f7" target="_blank">
                        <img src="{% static 'sunglasses2.jpg' %}" alt="Sunglasses 2">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/john-jacobs-retro-square-sunglasses/p/itm8b720c60a60b1?pid=SGLFXCEJF5HNGMZA&lid=LSTSGLFXCEJF5HNGMZAK4DCAO&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_4_125&otracker=search&otracker1=search&fm=Search&iid=a5edd16c-86cb-456f-87bf-c499550df3e9.SGLFXCEJF5HNGMZA.SEARCH&ppt=sp&ppn=sp&qH=0ff7a11a5902c9f7" target="_blank">
                        <img src="{% static 'sunglasses3.jpg' %}" alt="Sunglasses 3">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/john-jacobs-wayfarer-sunglasses/p/itm601304b34a62a?pid=SGLFXCEYYSGUTF97&lid=LSTSGLFXCEYYSGUTF97ZNPRVR&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_5_172&otracker=search&otracker1=search&fm=Search&iid=en_YFkNthbFmaJQXAf13vrgcqoyetwGUqbtqurDBkplqaNePIh8Ry5il74eL9kB8sQzFaMunx48yQPkos2UA_YY2w%3D%3D&ppt=sp&ppn=sp&qH=0ff7a11a5902c9f7" target="_blank">
                        <img src="{% static 'sunglasses4.jpg' %}" alt="Sunglasses 4">
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Travel Shoes Section -->
        <div class="item">
            <h2>Travel Shoes</h2>
            <div class="scroll-container">
                <div class="scroll-content">
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/nike-pegasus-39-running-shoes-men/p/itm28814de47b335?pid=SHOH4JF3YJAYPEFS&lid=LSTSHOH4JF3YJAYPEFSRQCNR0&marketplace=FLIPKART&q=nike+pegasus&store=osp%2Fcil%2F1cu&srno=s_1_40&otracker=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&fm=search-autosuggest&iid=6b883b92-bb5b-4932-9828-929992d7b24e.SHOH4JF3YJAYPEFS.SEARCH&ppt=sp&ppn=sp&ssid=niesvxi0eo0000001727758475172&qH=fa38c159d10ced9d" target="_blank">
                        <img src="{% static 'shoes1.jpg' %}" alt="Shoes 1">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/adidas-ultrarun-5-running-shoes-men/p/itmde56e2d6dd4c8?pid=SHOHFCB4BGRUXMUX&lid=LSTSHOHFCB4BGRUXMUXD6WQB4&marketplace=FLIPKART&q=adidas+sports+shoes+for+men&store=osp%2Fcil%2F1cu&srno=s_6_201&otracker=AS_QueryStore_OrganicAutoSuggest_1_16_sc_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_16_sc_na_ps&fm=search-autosuggest&iid=en_lF8gVi9y0YcjsDwlyleLMvpuxfOZnYeQrL5koCR92fFnETH65CxwDn_k22kRTc25FeKqE15K_RQrJpE1yuKLWg%3D%3D&ppt=sp&ppn=sp&ssid=pwhrdd564g0000001727759157292&qH=0bda3454b9a7da1c" target="_blank">
                        <img src="{% static 'shoes2.jpg' %}" alt="Shoes 2">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/skechers-d-lux-journey-casuals-men/p/itma9c3cf959b913?pid=SHOH45KYKADXP7K5&lid=LSTSHOH45KYKADXP7K5PUCPEZ&marketplace=FLIPKART&q=skechers+for+men&store=osp%2Fcil%2F1cu&srno=s_9_330&otracker=AS_QueryStore_OrganicAutoSuggest_1_1_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_1_na_na_ps&fm=search-autosuggest&iid=82fac83c-8113-4e00-adce-0320561be0aa.SHOH45KYKADXP7K5.SEARCH&ppt=sp&ppn=sp&qH=ea5d0360be1698e8" target="_blank">
                        <img src="{% static 'shoes3.jpg' %}" alt="Shoes 3">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/asics-gt-2000-12-running-shoes-men/p/itm34dcabfa49d23?pid=SHOHFT65TYSMSXHH&lid=LSTSHOHFT65TYSMSXHHZZVUII&marketplace=FLIPKART&q=asics+sports+shoes+for+men&store=osp%2Fcil%2F1cu&srno=s_1_34&otracker=AS_QueryStore_OrganicAutoSuggest_1_14_sc_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_14_sc_na_ps&fm=search-autosuggest&iid=aba6282c-48dd-40b9-985b-54c663faf4ef.SHOHFT65TYSMSXHH.SEARCH&ppt=sp&ppn=sp&ssid=gldimhwaw00000001727761474241&qH=92bb1bd0cd2098d5" target="_blank">
                        <img src="{% static 'shoes4.jpg' %}" alt="Shoes 4">
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Caps Section -->
        <div class="item">
            <h2>Caps</h2>
            <div class="scroll-container">
                <div class="scroll-content">
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/puma-solid-sports-regular-cap/p/itmf3v6gz8nsygyj?pid=CAPF2KTRSYZNS48Z&lid=LSTCAPF2KTRSYZNS48ZZ2QNN3&marketplace=FLIPKART&q=gucci+cap&store=clo%2Fqd8%2Fy9u%2Fgy0&srno=s_1_5&otracker=AS_QueryStore_OrganicAutoSuggest_1_10_sc_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_10_sc_na_na&fm=search-autosuggest&iid=7583c4e9-e082-4e97-a525-17bcd274790f.CAPF2KTRSYZNS48Z.SEARCH&ppt=sp&ppn=sp&ssid=b223xacbww0000001727771258483&qH=6eb70238db10fc6b" target="_blank">
                        <img src="{% static 'cap1.jpg' %}" alt="Cap 1">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/nike-sports-regular-cap/p/itm503d6605e4cfe?pid=CAPGRZHX3XCCYC8M&lid=LSTCAPGRZHX3XCCYC8MY3GEWB&marketplace=FLIPKART&q=nike+cap+for+men&store=clo%2Fqd8%2Fy9u&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_3_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_3_8_na_na_ps&fm=search-autosuggest&iid=911ff101-858a-47a2-ab39-a0c184892e78.CAPGRZHX3XCCYC8M.SEARCH&ppt=sp&ppn=sp&ssid=8jyqibpd8w0000001727771701254&qH=5192fd53dc714f9f"target="_blank">
                        <img src="{% static 'cap2.jpg' %}" alt="Cap 2">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/gubbarey-embroidered-sports-regular-cap/p/itmf3v6hhftgf2sz?pid=CAPEVPSFFDSZAWDE&lid=LSTCAPEVPSFFDSZAWDEIUKNXD&marketplace=FLIPKART&q=ny+caps&store=clo%2Fqd8%2Fy9u%2Fgy0&srno=s_2_43&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_ps&fm=search-autosuggest&iid=476ab60f-41e1-4fcd-b020-4263da668258.CAPEVPSFFDSZAWDE.SEARCH&ppt=sp&ppn=sp&qH=6f4328a5fb2596ad" target="_blank">
                        <img src="{% static 'cap3.jpg' %}" alt="Cap 3">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/u-s-polo-assn-embroidered-visor-cap/p/itm05f3795121cd3?pid=CAPGPA2HRWG7EHWF&lid=LSTCAPGPA2HRWG7EHWFBKCAHE&marketplace=FLIPKART&q=us+polo+cap&store=clo%2Fqd8%2Fy9u&srno=s_1_7&otracker=search&otracker1=search&fm=Search&iid=2bf5b3cd-6b29-45a5-bf11-bbb3076aa551.CAPGPA2HRWG7EHWF.SEARCH&ppt=sp&ppn=sp&ssid=uq8colh18w0000001727772152367&qH=92fa480da93f82b4" target="_blank">
                        <img src="{% static 'cap4.jpg' %}" alt="Cap 4">
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Clothes Section -->
        <div class="item">
            <h2>Clothes</h2>
            <div class="scroll-container">
                <div class="scroll-content">
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/nike-full-sleeve-solid-men-jacket/p/itm3fa047014774a?pid=JCKGQZ4MXWMBQNVF&lid=LSTJCKGQZ4MXWMBQNVFU6YCEE&marketplace=FLIPKART&q=nike+jacket+for+men&store=clo%2Fqvw%2Fz0g%2Fjbm&srno=s_1_15&otracker=AS_QueryStore_OrganicAutoSuggest_2_19_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_19_na_na_na&fm=search-autosuggest&iid=4b73dfdd-637d-4bdd-a45f-a1994cf15718.JCKGQZ4MXWMBQNVF.SEARCH&ppt=sp&ppn=sp&ssid=jqk5mzx60g0000001727769996623&qH=b46ccc92c2b32f33" target="_blank">
                        <img src="{% static 'cloth1.jpg' %}" alt="Cloth 1">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/puma-rad-cal-pants-solid-men-black-track/p/itmab979189ebe15?pid=TKPGHZYEYSJTRVZ5&lid=LSTTKPGHZYEYSJTRVZ5NSIWCR&marketplace=FLIPKART&q=puma+track+pants&store=clo%2Fvua%2Fjlk%2F6ql&srno=s_2_42&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=search-autosuggest&iid=75061c2c-8829-4a13-bb70-19e6da6b8e41.TKPGHZYEYSJTRVZ5.SEARCH&ppt=sp&ppn=sp&ssid=pkdmb9yt400000001727772522795&qH=bdb68a3ba6d6ab50" target="_blank">
                        <img src="{% static 'cloth2.jpg' %}" alt="Cloth 2">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/puma-colorblock-men-polo-neck-blue-t-shirt/p/itmd0da5b302339b?pid=TSHG7WGYYSQHPF4N&lid=LSTTSHG7WGYYSQHPF4N8HCMZQ&marketplace=FLIPKART&q=puma+men+tshirt&store=clo%2Fash%2Fank%2Fedy&srno=s_1_34&otracker=AS_Query_OrganicAutoSuggest_5_9_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_5_9_na_na_na&fm=search-autosuggest&iid=75471ba8-490a-4f67-a4c7-20a7bcf6dbd2.TSHG7WGYYSQHPF4N.SEARCH&ppt=sp&ppn=sp&ssid=y0zzzpitq80000001727770130705&qH=ad460c5bf3d17203" target="_blank">
                        <img src="{% static 'cloth3.jpg' %}" alt="Cloth 3">
                    </a>
                    </div>
                    <div class="image-frame">
                        <a href="https://www.flipkart.com/louis-stitch-slim-men-dark-blue-jeans/p/itm6c4d592925717?pid=JEAGSZA6HW6YKM7R&lid=LSTJEAGSZA6HW6YKM7RIT3J6P&marketplace=FLIPKART&q=pants+for+men+jeans+styles&store=clo%2Fvua%2Fk58%2Fi51&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_2_13_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_13_na_na_na&fm=search-autosuggest&iid=9389887b-5c1c-44cb-946d-8e414a549996.JEAGSZA6HW6YKM7R.SEARCH&ppt=sp&ppn=sp&ssid=0ozh416yrk0000001727770841560&qH=0cdab78da4593441" target="_blank">
                        <img src="{% static 'cloth4.jpg' %}" alt="Cloth 4">
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
        
            <div class="footer-about">
                <h2>Team Members</h2>
                <ul class="team-list">
                    <li>Viral Dobariya</li>
                    <li>Dharmit Fadadu</li>
                    <li>Kunj Garala</li>
                    <li>Tirth Hansaliya</li>
                </ul>
            </div>
    
            <div class="footer-contact">
                <h2>Contact Us</h2>
                <p><span class="footer-icon">&#x1F4CD;</span> Registered office: Udyog Bhavan, Block No. 16, 4<sup>th</sup> Floor, Sector-11, Gandhinagar - 382 010</p>
                <p><span class="footer-icon">&#x260E;</span> Toll-Free: 1800-123-456</p>
                <p><span class="footer-icon">&#x2709;</span> contact@gujarattourism.com</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2024 Gujarat Tourism. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
